
/*预定义样式*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.border{border:1px solid red;}
.mt20{margin-top:30px;}

input{border:0;outline:none;}
a{color:#00007F;text-decoration:none;}
ul li{list-style:none;}
body {margin: 0px; padding:0px;}

    .h_panel,
    .login_banner {
        width: 1130px;
        margin: 0 auto;
    }

    .h_logo {
        width: 200px;
        height: 98px;
        background: url(../image/mistore_logo.png) no-repeat;
    }

    

    .login_banner_panel {
        /* background:#1e2f40;*/
        width: 100%;
        height: 588px;
        position: absolute;
        left: 0;
        top: 98px;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .login_banner_panel .layout{
        width:1330px;
        height:588px;
        margin:0px auto;
        
    }
    .login_banner_panel .layout .login{
		width:410px;
		height:522px;
		margin-top:66px;
		margin-right:60px;
        background-color:#FFF;
    }
	.login_banner_panel .layout .nav_tabs {
		padding: 15px 0 10px;
		text-align: center;
	}

	.login_banner_panel .layout .nav_tabs a {
		color: #f56600;
        font-size:30px;
	}

	.login_banner_panel .layout .nav_tabs a:hover,.nav_tabs a.now {
		color: #f56600;
	}

	.login_banner_panel .layout .nav_tabs.only .line,.nav_tabs.only a:last-child {
		display: none
	}

    .login_banner_panel .login_form{
        width:360px;
        height:400px;
        margin:0px auto;
    }
    .login_banner_panel .item_account{
    	padding-left:20px;
        height:47px;
        width:320px;
        border:1px #ccc solid;
    }
    .login_banner_panel .item_account_code{
        padding-left:10px;
        margin-left:10px;
        height:47px;
        width:328px;
        border:1px #ccc solid;
    }
    .login_banner_panel .item_account_code .item_code{
        height:44px;
        width:220px;
        border:0px #ccc solid;
    }

    
.login_banner_panel .login_form .btnadpt {
	height:47px;
    width:340px;
	background: none;
	border: 1px solid #ff6700;
	color: #ff6700
}
.login_banner_panel .login_form .btnadpt:hover{
	color: #fff;
	background:#ff6700
}
.n_links_area {
    padding-top: 0px;
    color: #999
}

.n_links_area a {
    color: #999;
    font-size:15px;
}

.n_links_area a:hover {
    color: #f56600
}

.n-footer {
	background: #fff;
	margin-top: 0;
	padding-top: 80px;
	position: relative;
	width:100%;
	height:;
}
.n-footer .nf-link-area{
	width:425px;
	margin:0px auto;
}
.n-footer .nf-link-area ul .lang-select-li{
	padding:10px;
	color:#999;
}
.n-footer .nf-link-area ul li{
	color:#999;
}


.n-footer .nf-link-beian{
	width:700px;
	margin:0px auto;
}
.n-footer .nf-link-beian .nf-intro{
	color:#999;
}
.n-footer .nf-link-beian .nf-intro .beian-record-link{
	color:#999;
}

.mws-form-message {

    font-size: 12px;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    padding: 15px 8px 8px 4px;
    position: relative;
    vertical-align: middle;
    background-color: #f8f8f8;
    background-position: 12px 12px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.mws-form-message p,.mws-form-message ul,.mws-form-message ol {
    margin: 0
}

.mws-form-message ul li,.mws-form-message ol li {
    list-style-position: inside;
    list-style-type: inherit;
    margin: 0
}

.mws-form-message.error {
    
    background-color: #ffcbca;
    background-image: url(../image/message-error.png);
    border-color: #eb979b;
    color: #9b4449
}

.mws-form-message.success {
    background-color: #e1f1c0;
    background-image: url(../image/message-success.png);
    border-color: #b5d56d;
    color: #62a426
}

.mws-form-message.warning {
    background-color: #fef0b1;
    background-image: url(../image/message-warning.png);
    border-color: #ddca76;
    color: #a98b15
}

.mws-form-message.info {
    background-color: #bce5f7;
    background-image: url(../image/message-info.png);
    border-color: #a6d3e8;
    color: #11689e
}

.mws-panel-body.no-padding .mws-form-message {
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.mws-panel-body.no-padding .mws-form-message+.mws-form-message {
    border-top: 0
}