
/*预定义样式*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.border{border:1px solid red;}
.mt20{margin-top:30px;}

input{border:0;outline:none;}
a{color:#00007F;text-decoration:none;}
ul li{list-style:none;}
body {margin: 0px; padding:0px;}

    .h_panel,
    .login_banner {
        width: 1130px;
        margin: 0 auto;
    }

    .h_logo {
        width: 200px;
        height: 98px;
        background: url(../image/mistore_logo.png) no-repeat;
    }

    

    .login_banner_panel {
        /* background:#1e2f40;*/
        width: 100%;
        height: 588px;
        position: absolute;
        left: 0;
        top: 98px;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .login_banner_panel .layout{
        width:1330px;
        height:588px;
        margin:0px auto;
        
    }
    .login_banner_panel .layout .login{
		width:410px;
		height:522px;
		margin-top:66px;
		margin-right:60px;
        background-color:#FFF;
    }
	.login_banner_panel .layout .nav_tabs {
		padding: 15px 0 10px;
		text-align: center;
	}

	.login_banner_panel .layout .nav_tabs a {
		color: #f56600;
        font-size:30px;
	}

	.login_banner_panel .layout .nav_tabs a:hover,.nav_tabs a.now {
		color: #f56600;
	}

	.login_banner_panel .layout .nav_tabs.only .line,.nav_tabs.only a:last-child {
		display: none
	}

    .login_banner_panel .login_form{
        width:360px;
        height:400px;
        margin:0px auto;
    }
    .login_banner_panel .item_account{
    	padding-left:20px;
        height:47px;
        width:320px;
        border:1px #ccc solid;
    }
    
.login_banner_panel .login_form .btnadpt {
	height:47px;
    width:340px;
	background: none;
	border: 1px solid #ff6700;
	color: #ff6700
}
.login_banner_panel .login_form .btnadpt:hover{
	color: #fff;
	background:#ff6700
}
.n_links_area {
    padding-top: 0px;
    color: #999
}

.n_links_area a {
    color: #999;
    font-size:15px;
}

.n_links_area a:hover {
    color: #f56600
}

.n-footer {
	background: #fff;
	margin-top: 0;
	padding-top: 80px;
	position: relative;
	width:100%;
	height:;
}
.n-footer .nf-link-area{
	width:425px;
	margin:0px auto;
}
.n-footer .nf-link-area ul .lang-select-li{
	padding:10px;
	color:#999;
}
.n-footer .nf-link-area ul li{
	color:#999;
}


.n-footer .nf-link-beian{
	width:700px;
	margin:0px auto;
}
.n-footer .nf-link-beian .nf-intro{
	color:#999;
}
.n-footer .nf-link-beian .nf-intro .beian-record-link{
	color:#999;
}